@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans+KR:wght@100..900&display=swap");
/* 초기화 */
* {
  margin: 0;
  padding: 0;
  font: normal 12px '고딕';
}

ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}
input, textarea {outline: none;}

#wrapper {
  width: 980px;
  height: auto;
  margin: 0 auto;
}

/*=====================================================================*/

/*메인*/

main {
  width: 980px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 30px;
}
main .background {
  width: 980px;
  height: 184px;
  margin-bottom: 22px;
}
main .background a:nth-of-type(2) {
  position: relative;
  bottom: 50px;
  left: 15px;
}
main .side {
  min-width: 176px;
  height: 650px;
  float: left;
  border-right: 1px solid #999 ;
  
}
main .side h1 {
  margin-left: 10px;
}
main .side article {
  width: 175px;
  height: 233px;
  background-image: url('/farmstory/images/sub_aside_bg_lnb.png');
  padding-top: 20px;
}
main .side article ul li:nth-of-type(1):hover {
  background-image: url('/farmstory/images/myinfo/myinfo_menu1_ov.png');
}
main .side article ul li:nth-of-type(2):hover {
  background-image: url('/farmstory/images/myinfo/myinfo_menu2_ov.png');
}
main .side article ul li:nth-of-type(3):hover {
  background-image: url('/farmstory/images/myinfo/myinfo_menu3_ov.png');
}



main .order {
  width: 762px;
  height: 40px;
  float: right;
  margin-top: 20px;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 50px;
}

main .order p {
  float: right;
  position: relative;
  top: -20px;
  color: #adadad;
  font-weight: bold;
}
main .order p:nth-of-type(1) {
  color: rgb(133, 197, 37);
}


main .setup {
  width: 762px;
  height: 187px;
  text-align: left;
  float: right;
  border-collapse: collapse;
  margin: 0 auto;
}
main .setup h1 {
  font-weight: bold;
  font-size: 13px;
}
main .setup table {
  width: 100%;
  height: auto;
  border-top: 2px solid black;
  border-collapse: collapse;
  margin-top: 10px;
  
}
main .setup table tr {
  border: 1px solid #E9E9E9;
}
main .setup table tr td:nth-of-type(1) {
  background: #F5F8F9;
  padding: 10px;
  width: 105px;
}
main .setup table tr td:nth-of-type(2) {
  padding: 10px;
}
main .setup table tr input {
  background: #F7F7F7;
  border: 1px solid #E4EAEC;
  padding: 5px;
}
main .setup table .passacc td:nth-of-type(3) {
  background: #2E658A;
  display: block;
  width: 85px;
  height: 19px;
  text-align: center;
  padding: 5px;
  position: relative;
  top: 9px;
  right: 106%;
}
main .setup table .passacc td:nth-of-type(3) a {
  color: white;
}


main .modify {
  width: 762px;
  height: 378px;
  text-align: left;
  float: right;
  margin-top: 30px;
  margin-bottom: 80px;
}
main .modify h1 {
  font-weight: bold;
  font-size: 13px;
}
main .modify table {
  width: 100%;
  height: auto;
  border-top: 2px solid black;
  border-collapse: collapse;
  margin-top: 10px;
}
main .modify table tr {
  border: 1px solid #E9E9E9;
}
main .modify table tr td:nth-of-type(1) {
  background: #F5F8F9;
  padding: 10px;
  width: 105px;
}
main .modify table tr td:nth-of-type(2) {
  padding: 10px;
}
main .modify table tr td:nth-of-type(2) input {
  background: #F7F7F7;
  border: 1px solid #E4EAEC;
  padding: 5px;
}
main .modify table .nickname td:nth-of-type(3) {
  width: 50px;
  top: 40px;
  
}
main .modify table .nickname td:nth-of-type(2) {
  line-height: 30px;
}
main .modify table .nickname td:nth-of-type(3) {
  position: relative;
  bottom: 40px;
}
main .modify table tr td:nth-of-type(3) {
  display: block;
  width: 80px;
  height: 15px;
  position: relative;
  top: 15px;
  right: 305%;
}
main .modify table tr td .line23 {
  width: 330px;
}
main .modify table tr:nth-of-type(6) td:nth-of-type(2) {
  background: #ed2f2f;
  width: 50px;
  height: 10px;
  display: block;
  text-align: center;
  position: relative;
  padding: 10px;
  margin: 10px;
}
main .modify table tr:nth-of-type(6) td:nth-of-type(2) a {
  color: white;
  position: relative;
  bottom: 3px;
}
main .modify .button {
  display: block;
  float: right;
  margin-top: 20px;
  
}
main .modify .button a {
  padding: 10px;
}
main .modify .button a:nth-of-type(1) {
  border: 1px solid #bebebe;
  margin-bottom: 50px;
}
main .modify .button a:nth-of-type(2) {
  background: #EFEFEF;
  border: 1px solid #bebebe;
  margin-bottom: 50px;
}

/*=====================================================================*/
